body {
    background-color: rgb(78, 74, 74);
}

.head {
  display: flex;      /* ทำให้ลูกของ container เป็นแนวนอน */
  gap: 10px;          /* เว้นระยะห่างระหว่างกล่อง */
}
#head_box {
    display: flex;      /* ทำให้ลูกของ container เป็นแนวนอน */
    gap: 10px;   
}
.box ,.dropbtn {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  display: flex;      /* เพื่อจัดข้อความกึ่งกลาง */
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box:hover {
    background-color: #3e8e41;
}
.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #6a8fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(255, 254, 254, 0.2);
}
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}